apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  default.conf: |
    server {
        listen 80;
        root /var/www/public;
        index index.php index.html;

        location / {
            try_files $uri /index.php?$query_string;
        }

        location ~ \.php$ {
            include fastcgi_params;
            fastcgi_pass laravel-service:9000;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME /var/www/public$fastcgi_script_name;
        }

        location ~ /\.env {
            deny all;
        }
    }

